/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3f6c97;
    color: white;
    font-family: Helvetica, sans-serif;
  }

  /* a tag styling */
a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding: 10px;
    border-right: 2px solid white;
    font-family: Helvetica, sans-serif;
}

a:hover {
    color: white;
}
/* background image */
.BackIMG {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("code.jpg");
    background-size: cover;
    background-position: center;
}